<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="CoreService REQUEST OFFER UNIT">
            <directory suffix="Test.php">./tests/Unit/OmniSynapse/CoreService/Request/Offer</directory>
        </testsuite>
        <testsuite name="CoreService REQUEST UNIT">
            <directory suffix="Test.php">./tests/Unit/OmniSynapse/CoreService/Request</directory>
        </testsuite>
        <testsuite name="CoreService UNIT">
            <directory suffix="Test.php">./tests/Unit/OmniSynapse/CoreService</directory>
        </testsuite>

        <testsuite name="CoreService JOBS INTEGRATION">
            <directory suffix="Test.php">./tests/Integration/OmniSynapse/CoreService/Jobs</directory>
        </testsuite>

        <testsuite name="CoreService OBSERVERS">
            <directory suffix="Test.php">./tests/Integration/Omnisynapse/CoreService/Observers</directory>
        </testsuite>

        <testsuite name="App UNIT">
            <directory suffix="Test.php">./tests/Unit/app</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./packages</directory>
        </whitelist>
    </filter>
</phpunit>
