body {
    margin: 0;
    color: #3f4c5d;
    font: normal 16px/24px "Open Sans", Helvetica, Arial, sans-serif;
    background: #fff;
}
*:focus {
    outline: none !important;
}
a {
    display: inline-block;
    color: #ff5a00;
}
a:hover,
a:focus {
    color: #ff8a0e;
}
h1 {
    font-size: 2.5em;
    margin: 20px 0 30px;
    text-align: center;
}
button {
    cursor: pointer;
}
iframe {
    display: block;
    width: 100%;
    border: none;
}
.btn {
    background-color: #fff;
}
.btn:hover,
.btn:focus,
.btn:active {
    outline: none !important;
}
.btn-nau {
    display: inline-block;
    padding: 11px 30px 13px;
    color: #fff;
    font-size: 120%;
    line-height: 1em;
    background: linear-gradient(to bottom, #ff8a0e, #ff5a00);
    border: none;
    border-radius: 21px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-nau:hover,
.btn-nau:active,
.btn-nau:focus {
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to top, #ff8a0e, #ff5a00);
    outline: none;
}
.btn-nau.btn-xs {
    padding: 8px 20px;
    font-size: 80%;
    font-weight: normal;
}
.btn-primary:disabled:hover {
    color: #7a9e9f;
}


#mainwrapper {
    min-height: 100vh;
    padding-bottom: 60px;
    margin-bottom: -38px; /* height of footer */
}

main .container {
    margin-top: 20px;
}

header {
    position: relative;
    z-index: 13;
	color: #fff;
	background: #171a21 linear-gradient(to bottom, #171a21, #1b1e25, #2e3138);
}
header a {
    color: #fff;
    text-decoration: none;
}
header a:hover,
header a:focus {
    color: #ff5a00;
    text-decoration: none;
}
header .logo {
	padding: 8px 0 7px;
	width: 117px;
}
header .advert-name {
    margin-right: 30px;
    padding: 20px 0 0;
    font-weight: bold;
}
header .controls {
    padding-top: 8px;
	white-space: nowrap;
}
header .controls a {
	position: relative;
	display: inline-block;
    padding-top: 6px;
	width: 44px;
	height: 44px;
	font-size: 32px;
    text-align: center;
	background: none;
	border: none;
	cursor: pointer;
}
header nav menu,
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header nav menu > li {
    position: relative;
    display: inline-block;
}
header nav menu a {
    display: block;
    padding: 8px 15px;
}
header nav menu > li:first-child > a {
    padding-left: 0;
}
header nav menu ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #171a21 linear-gradient(to bottom, #2e3138, #1b1e25, #171a21);
    border-top: 1px solid #171a21;
}
header nav menu ul li {
    white-space: nowrap;
}
header nav li:hover > a {
    color: #ff5a00;
}



footer {
    padding: 8px 0;
    color: #fff;
    font-size: 85%;
    background: #171a21 linear-gradient(to bottom, #171a21, #1b1e25, #2e3138);
}
footer p {
    margin: 0;
}


/* tabs */
.nav-tabs>li>a {
    margin-right: 0;
    border-color: #ddd;
    color: #3f4c5d;
    font-size: 120%;
}
.nav-tabs>li:not(:first-child)>a {
    border-left: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff;
    background: #ff5a00 linear-gradient(to right, #ff5a00, #ff8b10);
    border-color: #ff5a00;
}
.tab-content {
    padding: 16px 15px;
    border: 1px solid #e0e0e0;
    border-top-color: transparent;
}

.pagenavy {
    margin: 16px 0 24px;
    text-align: right;
}
.pagenavy span,
.pagenavy a {
    position: relative;
    display: inline-block;
    margin: 0 2px 8px;
    padding: 0 6px;
    min-width: 32px;
    height: 32px;
    vertical-align: top;
    text-align: center;
    line-height: 32px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.pagenavy span {
    cursor: default;
}
.pagenavy span.dots {
    padding: 0;
    min-width: 0;
    border: none;
}
.pagenavy a {
    color: #ff5a00;
    border-color: #ff5a00;
}
.pagenavy a:hover,
.pagenavy a:active,
.pagenavy a:focus {
    background-color: rgba(255, 138, 14, 0.4);
    text-decoration: none;
}
.pagenavy .prev:before,
.pagenavy .next:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 12px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    transform: rotate(45deg);
}
.pagenavy .next:before {
    left: auto;
    right: 12px;
    transform: rotate(-135deg);
}
.pagenavy a.prev:before,
.pagenavy a.next:before {
    border-color: #ff5a00;
}
.pagenavy a.prev:hover:before,
.pagenavy a.next:hover:before,
.pagenavy a.prev:active:before,
.pagenavy a.next:active:before,
.pagenavy a.prev:focus:before,
.pagenavy a.next:focus:before {
    border-color: #ff8a0e;
}

#waitPopupOverlay {
    position: fixed;
    z-index: 10029;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
#waitPopupOverlay .waitPopup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    padding: 15px;
    background: #fff;
}
#waitPopupOverlay h3 {
    margin: 0 0 15px;
}
#waitPopupOverlay .img {
    margin: 0 0 15px;
}
#waitPopupOverlay #waitError {
    color: red;
    margin-bottom: 0;
}

.offer_status_control {
	text-align: center;
}
.offer_status_control form {
	display: inline-block;
}
.offer_status_control button {
	display: none;
}
.offer_status_control .waiting-response {
	display: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 22px;
	color: red;
}
.offer_status_control .waiting-response img {
	display: block;
	margin: 0 auto;
	width: 22px;
}
.offer_status_control.osc_active button.b-deactivate,
.offer_status_control.osc_deactive button.b-activate {
	display: inline-block;
}
.offer_status_control.osc_wait .waiting-response {
	display: block;
}

.offer-edit-button-wrapper {
    display: inline-block;
}
.offer-edit-button-wrapper .offer-edit-no-button {
    width: 192px;
}
.offer-edit-button-wrapper .offer-delete-button,
.offer-edit-button-wrapper .offer-edit-button,
.offer-edit-button-wrapper .offer-edit-no-button{
    display: none;
}
.offer-edit-button-wrapper.oeb-deactive .offer-delete-button,
.offer-edit-button-wrapper.oeb-deactive .offer-edit-button {
    display: inline-block;
}
.offer-edit-button-wrapper.oeb-active .offer-edit-no-button {
    display: inline-block;
}
.offer-edit-button-wrapper .offer-edit-button {
    margin-left: 24px;
}

.user-approve-controls form {
    display: inline-block;
    padding-left: 12px;
}
.user-approve-controls .span-approved,
.user-approve-controls .span-disapproved {
    min-width: 32px;
}
.user-approve-controls .span-approved {
    color: green;
}
.user-approve-controls .span-disapproved {
    color: red;
}
.user-approve-controls .span-approved,
.user-approve-controls .span-disapproved,
.user-approve-controls .span-wait,
.user-approve-controls .waiting-response,
.user-approve-controls .b-approved,
.user-approve-controls .b-disapproved {
    display: none;
}

.user-approve-controls.status-approved .span-approved,
.user-approve-controls.status-approved .b-approved,
.user-approve-controls.status-disapproved .span-disapproved,
.user-approve-controls.status-disapproved .b-disapproved,
.user-approve-controls.status-wait .span-wait,
.user-approve-controls.status-wait .waiting-response {
    display: inline-block;
}

.user-approve-controls .cant-approve-no-images {
    display: none;
    color: red;
    font-size: 80%;
    white-space: nowrap;
    text-align: center;
}
.user-approve-controls button.b-disapproved:disabled + .cant-approve-no-images {
    display: block;
}

.table-striped-nau {
    margin-top: 24px;
    width: 100%;
}
.table-striped-nau th {
    border-bottom: 1px solid #999;
    padding: 10px;
}
.table-striped-nau tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}
.table-striped-nau tr:nth-child(even) {
    background: #f9f9f9;
}
.table-striped-nau tr:hover {
    background: #f6f6f6;
}
.table-striped-nau td {
    padding: 10px;
}

.nobs-modal {
    position: fixed;
    z-index: 9790;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}
.nobs-modal.shown {
    display: block;
    opacity: 1;
    transition: opacity 400ms ease;
}
.nobs-modal .nobs-modal-content {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%, 0);
    padding: 12px 15px;
    width: 80%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.nobs-modal h4 {
    margin-top: 0;
    padding-right: 40px;
}
.nobs-modal .close-modal {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 200%;
    line-height: 1em;
    cursor: pointer;
    opacity: 0.5;
}
.nobs-modal .close-modal:hover {
    opacity: 1;
}

#tab_your_offers .offer-description a,
.note-editor .note-editable a,
#offerLinkModal .offer-link-content a {
	text-decoration: underline;
}

#offerLinkModal {
    position: fixed;
    z-index: 10032;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
#offerLinkModal .offer-link-modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
#offerLinkModal .offer-link-modal-content {
    position: fixed;
    left: 50px;
    top: 30px;
    right: 50px;
    bottom: 30px;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
}
#offerLinkModal .close-offer-link-modal {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    cursor: pointer;
    color: #999;
    opacity: 0.5;
}
#offerLinkModal .close-offer-link-modal:hover {
    opacity: 1;
}
#offerLinkModal h2 {
    margin: 0 32px 0 0;
    font-size: 1.6em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#offerLinkModal .offer-link-content {
    position: absolute;
    left: 30px;
    top: 80px;
    right: 30px;
    bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.offer-status {
    text-align: center;
    line-height: 1.3em;
}
.offer-status-text-color-active {
    color: #71d901;
}
.offer-status-text-color-deactive {
    color: #f08301;
}
.offer-status .offer-status-text-no-image,
.offer-status .offer-status-text-no-nau,
.offer-status .offer-status-text-expired {
    display: none;
    font-size: 70%;
    line-height: 1.3em;
    color: #f08301;
}
tr.offer-status-no-image .offer-status .offer-status-text-no-image,
tr.offer-status-no-nau .offer-status .offer-status-text-no-nau,
tr.offer-status-expired .offer-status .offer-status-text-expired {
    display: block;
}
tr.offer-status-no-image > td,
tr.offer-status-no-nau > td,
tr.offer-status-expired > td {
    background: rgba(255, 0, 0, 0.15);
}

.user-place-info {
    position: relative;
    overflow: hidden;
}
.user-place-info img.place-logo,
.user-place-info img.place-cover {
    position: absolute;
    top: -32px;
    width: 16px;
    height: 16px;
}

.user-place-info .user-place-img-wrap {
    display: inline-block;
    background: url(/img/loading.gif) no-repeat center center;
    background-size: contain;
    border: 1px solid #ddd;
}
.user-place-info .user-place-img-wrap.error {
    background-image: url(/img/imagenotfound.svg);
}
.user-place-info .user-place-img-wrap img {
    display: block;
}
.table-users tr.error-img td {
    background: rgba(255, 0, 0, 0.15);
}

.row[class*=f-] p {
    font-size: 100%;
}
