#more_wrap {
    padding-bottom: 24px;
}
#more_wrap .tag-buttons {
    display: none;
    padding-bottom: 24px;
}
#more_wrap .tag-buttons em {
    font-size: 80%;
}
#more_wrap .tag-buttons .buttons .btn {
    margin-top: 6px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-width: 1px;
}
#more_wrap .label-items {
    position: relative;
    display: none;
    padding: 0 80px 0 160px;
    color: #999;
    font-style: italic;
    font-size: 80%;
}
#more_wrap .input-example {
    display: none;
}
#more_wrap.has-items .label-items,
#more_wrap.has-items .input-example {
    display: block;
}
#more_wrap .label-items .tag-label,
#more_wrap .label-items .buttons-label {
    position: absolute;
    top: 0;
}
#more_wrap .label-items .tag-label {
    left: 0;
}
#more_wrap .label-items .buttons-label {
    right: 0;
}
#more_wrap .more-item {
    position: relative;
    padding: 0 80px 0 160px;
}
#more_wrap .more-item:before {
    content: "";
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: url(/img/loading.gif) no-repeat center center;
    background-size: contain;
}
#more_wrap .more-item label {
    font-weight: normal;
}
#more_wrap .more-item .tag {
    position: absolute;
    left: 0;
    top: 0;
    width: 152px;
}
#more_wrap .more-item .tag:before {
    content: "#";
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    padding-top: 3px;
    width: 20px;
    text-align: center;
    background: #eee;
    border-radius: 5px 0 0 5px;
}
#more_wrap .more-item .tag input {
    padding-left: 24px;
}
#more_wrap .more-item .btn.btn-save-item,
#more_wrap .more-item .btn.btn-edit-item,
#more_wrap .more-item .btn.btn-close-item,
#more_wrap .more-item .btn.btn-remove-item {
    position: absolute;
    top: 0;
    right: 0;
}
#more_wrap .more-item .btn.btn-save-item,
#more_wrap .more-item .btn.btn-edit-item {
    display: none;
}
#more_wrap .more-item .btn.btn-remove-item {
    top: auto;
    right: -80px;
    bottom: 20px;
}
#more_wrap .more-item .btn.btn-close-item {
    top: 22px;
    right: 15px;
    z-index: 505;
}
#more_wrap .more-item.not-saved .btn.btn-save-item,
#more_wrap .more-item.can-edit .btn.btn-edit-item,
#more_wrap .more-item.wait:before {
    display: block;
}
#more_wrap .more-item .content-length {
    position: absolute;
    right: 0;
    top: 28px;
    width: 68px;
    color: #999;
    font-size: 60%;
    line-height: 1.2em;
    font-style: italic;
}
#more_wrap .more-item.tag-error .tag:before,
#more_wrap .more-item.tag-error .tag input {
    font-weight: bold;
    color: red;
}
#more_wrap .more-description {
    position: relative;
    margin: 0 0 0 -160px;
}
#more_wrap .note-editor.note-frame.value-empty {
    border-color: #ff5a00;
}